<p>
Bonjour,
</p>
<p>
L'utilisateur <%= @user.prenom %> <%= @user.nom %> a été ajouté au groupe <%= @group.nom %> dans l'application OSC/OSB.
</p>
<p>
Vous recevez ce mail en tant qu'utilisateur bénéficiant d'un rôle d'administrateur fonctionnel dans l'application (directement ou via un groupe auquel vous appartenez).
</p>
<p style="color:#555555;">
Cordialement,<br />
L'équipe support de OSC (<%= EMAIL_SUPPORT %>)
</p>
