<p>
  <b>User:</b>
  <%=h @user_image.user_id %>
</p>

<p>
  <b>Image:</b>
  <%=h @user_image.image %>
</p>

<p>
  <b>Created at:</b>
  <%=h @user_image.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @user_image.updated_at %>
</p>
