<div class="content">
	<p>
		Etes-vous certain de vouloir supprimer ce personnel impliqué dans le contrat ?
	</p>
	<%= link_to_close_redbox "Non", :class => 'annuler' %>
	<%= sub_list_accept_to_remove_link("notification_personnel" ) %>
 	<div style="clear:both;"></div>
</div>