<h3>Modification de la ligne associée au salaire</h3>
<p>
  <label class="required" for="depense_salaire_ligne_id">Ligne associée</label><br />
  <%= select( "depense_salaire", "ligne_id", @available_lignes) %>
</p>