<h3>Modification de la ligne associée à la dépense en équipement</h3>
<p>
  <label class="required" for="depense_equipement_ligne_id">Ligne associée</label><br />
  <%= select( "depense_equipement", "ligne_id", @available_lignes) %>
</p>