<div class="content">
	<p>
	Etes-vous certain de vouloir supprimer le type de contrat <strong>"<%= @contrat_type.nom %>"</strong> ?
	</p>
	<%= link_to_close_redbox "Non", :class => 'annuler' %>
	<%= link_to_remote "Oui",
 									{ :url =>contrat_type_path,
										:method => :delete } %>
	<div style="clear:both;"></div>
</div>