<div class="content">
	<p>
		Etes-vous certain de vouloir supprimer cette période ? Cette suppression est définitive.
	</p>
	<%= link_to_close_redbox "Non", :class => 'annuler' %>
	
	<%= sub_list_accept_to_remove_link("echeancier_periode" ) %>
	
 	<div style="clear:both;"></div>
</div>