<div class="content">
	<p>
		Etes-vous certain de vouloir supprimer ce taux ?
	</p>
	<%= link_to_close_redbox "Non", :class => 'annuler' %>
	<%= sub_list_accept_to_remove_link("organisme_gestionnaire_taux") %>
 	<div style="clear:both;"></div>
</div>