<h3>Modification de la ligne associée à la dépense en fonctionnement</h3>
<p>
  <label for="depense_fonctionnement_ligne_id" class="required">Ligne associée</label><br />
  <%= select( "depense_fonctionnement", "ligne_id", @available_lignes) %>
</p>