<h3>Modification de la ligne associée au crédit</h3>
<p>
  <label for="versement_ligne_id" class="required">Ligne associée</label><br />
  <%= select( "versement", "ligne_id", @available_lignes) %>
</p>