<p>
  <b>Taux:</b>
  <%=h @organisme_gestionnaire_taux.taux %>
</p>

<p>
  <b>Annee:</b>
  <%=h @organisme_gestionnaire_taux.annee %>
</p>


<%= link_to 'Edit', edit_organisme_gestionnaire_taux_path(@organisme_gestionnaire_taux) %> |
<%= link_to 'Back', organisme_gestionnaire_tauxes_path %>
