<div class="content">
	<p>
		Etes-vous certain de vouloir supprimer le refus du contrat <strong> <%= @contrat.long_acronyme %> </strong> ?
	</p>
	<%= link_to_close_redbox "Non", :class => 'annuler' %>
	<%= link_to "Oui", contrat_refu_path(@contrat, @refu), :method => :delete %>
	<div style="clear:both;"></div>
</div>