<h3>Modification de la ligne associée à la dépense non ventilée</h3>
<p>
  <label for="depense_non_ventilee_ligne_id" class="required">Ligne associée</label><br />
  <%= select( "depense_non_ventilee", "ligne_id", @available_lignes) %>
</p>