<h3>Modification de la ligne associée à la mission</h3>
<p>
  <label class="required" for="depense_mission_ligne_id">Ligne associée</label><br />
  <%= select( "depense_mission", "ligne_id", @available_lignes) %>
</p>