<div class="content">
	<p>
		Etes-vous certain de vouloir supprimer cette facture ?
	</p>
	<%= link_to_close_redbox "Non", :class => 'annuler' %>
	<%= sub_list_accept_to_remove_link("depense_commun_facture") %>
 	<div style="clear:both;"></div>
</div>