<h3>Modification de la ligne associée à la dépense du commun</h3>
<p>
  <label class="required" for="depense_commun_ligne_id">Ligne associée</label><br />
  <%= select( "depense_commun", "ligne_id", @available_lignes) %>
</p>