<div class="content">
	<p>
	Etes-vous certain de vouloir supprimer la rubrique comptable <strong>"<%= @rubrique_comptable.intitule %>"</strong> ?
	</p>
	<%= link_to_close_redbox "Non", :class => 'annuler' %>
	<%= link_to_remote "Oui",
 									{ :url =>rubrique_comptable_path,
										:method => :delete } %>
	<div style="clear:both;"></div>
</div>